$accent-color: #7C52A3;
$text-color: #7C52A3;
$card-text-color: #7C52A3;
$icon-color: #7C52A3;
$background-color: #f5f5f5;
$font-family: 'Instrument Sans', sans-serif;
$font-family-logo: 'Covered By Your Grace';
$background-sidebar: #d4c5e0