@use 'constants';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}

body {
    display: flex;
    flex: 1;
    min-height: 100vh;
    background-color: constants.$background-color;
    font-family: constants.$font-family;
}

main {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
}

footer {
    text-align: center;
    padding: 1rem;
    color: constants.$text-color;
}