<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ page.title }} | Portfolio</title>
  <link rel="stylesheet" href="/assets/css/style.css">
  <link href='https://fonts.googleapis.com/css?family=Covered By Your Grace' rel='stylesheet'>
</head>

<body>
  <nav>
    <div class="logo">nargizas</div>
    <ul class="nav-links">
      <li><a href="about">about</a></li>
      <li><a href="projects">projects</a></li>
      <li><a href="unplugged">unplugged</a></li>
      <li><a href="contact">contact</a></li>
    </ul>
  </nav>

  <header>
    <h1>My Portfolio</h1>
  </header>

  <main>
    {{ content }}
  </main>

  <footer>
    <p>&copy; 2025 My Portfolio</p>
  </footer>

  <script src="/assets/js/script.js"></script>
</body>

</html>